.logo {
    font-family: Poppins;
    font-weight: 700;
}

.mainH1 {
    font-family: Poppins;
    font-weight: 700;
    color: white;
}

.grad {
    background: -webkit-linear-gradient(#34eba1, #01913b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green {
    color: #28e058;
}


.filledButton {
    background: linear-gradient(247.4deg, #21C997 22.31%, #28E058 100.3%), #C4C4C4 !important;
    border-radius:0 !important;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: bold !important;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #000f22;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #000000;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}