.downArrow {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.Map {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.newLayer {
    margin-top: 10px;
}

.jobs {
    margin-top: 75px;
    text-align: center;
}

#nextButton {
    margin-top: 50px;
    margin-right: 20px;
    padding: 10px;
}

.grad {
    background: -webkit-linear-gradient(#34eba1, #01913b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainH1 {
    color: white;
}

.timeH1 {
    color: lime;
}

.gradBut {
    background-image: linear-gradient(to right, #01913b 0%, #32d975, #01913b 100%);
    width: 176px;
    height: 56px;
    border: none;
    margin-right: 10px;
}

.gradIcon {
    color: green;
}

.transparent {
    background-color: #343b36;
}

.noGradBut {
    /*outline btn*/
    line-height: 30px;
    text-align: center;
    width: 176px;
    height: 56px;
    border: #ffffff 1px;
    background: transparent;
    border: 1px solid #fff;
}

.noGradBut,
.noGradBut:hover,
.noGradBut:active,
.noGradBut:focus {
    /*outline btn*/
    line-height: 30px;
    width: 176px;
    height: 56px;
    border: #ffffff 1px;
    background: transparent;
    border: 1px solid #fff;
}

.noGradBut b .gradBut b {
    text-align: center;
}

.mainH5 {
    color: white;
}

.googleButton {
    background-image: linear-gradient(to right, #34eba1 0%, #00ff66, #34eba1 100%);
}

.formText {
    color: white;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #000f22;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #000000;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.profileNavLink {
    position: relative;
    top: 5px;
}

.marker-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.marker-btn img {
    width: 20px;
    height: 20px;
}

.taskCount {
    color: #000000 !important;
}

.userName {
    position: absolute;
    left: '0%';
    top: '-50%',
}

.icons {
    text-align: center;
}

.facebookIcon {
<<<<<<< HEAD
  display: inline-block;
  text-align: justify;
}
=======
    display: inline-block;
    text-align: justify;
}
>>>>>>> d8f0f23605c69d3b2b908d1bbee4fa26e78dda50
